.container {
    border-radius:20px;
    background-color: #5b5b5b;
    color:white;
    padding:20px;
    margin:10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

.wrapper{
    margin: 10%;
}

input {
    width: 100%;
    padding: 12px 12px;
    margin: 15px 4px;
    box-sizing: border-box;
    border: 2px groove navy;
}

input[type=button] {
    font-size:20px;
    cursor:pointer;
    height:50px;
    background:lightgreen;
    border-radius: 20px;
}

input[type=button]:hover {
    background: #9c9c00;
}